/worker
/dotnet_Ptr
/output_data
/header/WpdPack
header/
header/WpdPack
*.lib
*.h
!sniffer_packages/ipc.h
!sniffer_packages/packages.h
!sniffer_packages/handleProto.h
!sniffer_packages/builderDevice.h
!compat_net.h
!serviceApp/Npcap.h